<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/StyleSheet1.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/StyleSheet1.css">
</head>
<body>
<div class="header">
    <h2>Home</h2>
</div>
<?php
    if (isset($_SESSION['user.toString()'])) :
?>
<form name ="homeForm" method ="post" action="home" id = "homeForm">
    <div class="success">
        <span th:utext="*{msg}"></span>
    </div>
        <div>
            <br>
        <div class="input-group">
            <a href="view_customer" class="btn">View Customers List</a>
        </div>
            <br>
        <div class="input-group">
            <a href="view_booking" class="btn">View Bookings List</a>
        </div>
            <br>
        <div class="input-group">
            <a href="view_employees" class="btn">View Employees List</a>
            <br>
        </div>
        </div>
        <div>
            <br>
        <div class="input-group">
            <a href="add_customer" class="btn">Add Customers</a>
        </div>
            <br>
        <div class="input-group">
            <a href="add_employee" class="btn">Add Employee</a>
        </div>
        <br>
        <div class="input-group">
            <a href="create_bookings" class="btn">Create Bookings</a>
        </div>
            <br>
        </div>
        <a th:href="@{/login}">Sign out</a>
    </div>
</form>
</body>
</html>